li.closed .task-header {
  text-decoration: line-through;
}

li div {
  width: 80%;
  display: inline-block;
}

.fa:hover {
  color: #4b4b4b;
}

.task {
  display: inline-block;
  width: 36%;
}

.task .card-header {
  padding-bottom: 0.4em;
  padding-top: 0.4em;
}

.task .card-body {
  padding-bottom: 1em;
  padding-top: 1em;
}

.task .card-footer {
  padding-bottom: 0.4em;
  padding-top: 0.4em;
}

.mock {
  width: 100%;
  font-size: 32px;
  color: gainsboro;
  height: 150px;
  text-align: center;
  line-height: 150px
}
