li.closed .task-header {
  text-decoration: line-through;
}

li div {
  width: 80%;
  display: inline-block;
}

.soon {
  background-color: mistyrose;
}

.fa:hover {
  color: #4b4b4b;
}
.expired {
  background-color: indianred;
}
